* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
};

.flex {
    display: flex;
}

.parrafoHead {
    display: inline-block;
}

.item {
    display: inline-block;
    /* background-color: aquamarine; */
}

.cajaPrincipal{
    display: flex;
    justify-content: space-around;
    background-color: black;
    height: 40px;
    color: aliceblue;
    align-items: center;
}

.items, ul {
    word-spacing: 5px;
    margin-left: 15px;
}




/* <!-- segundo menu --> */


.cajaSecundaria {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.listaCajaSecundaria, .itemList2 {
    display: flex;
    font-size: 20px;
    background-color: blueviolet;
    
}

.MarcaPersonal {
    width: 350px;
    height: 200px;
}

.login {
    display:flex;
    margin-left: 25px;

}

.botonLogIn {
    width: 13vw;
    height: 25px;
    
}

.icons {
    margin-left: 25px;
}

.fa-solid {
    margin-right: 5px;
}

.textMenuSecond {
    display: inline-block;
}
/* seccion productos */

.productos {

    display: flex;
    justify-content: center;
}

/* .productosHelp {} */


.box {
    width: 380px;
    height: 400px;
    background-color: brown;
    display: flex;
    margin: 20px;
} 

.menuPages {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.itemMenuPages {
    text-align: center;
    width: 40px;
    height: 40px;
    border: none;
}



/* LOGO WHATSAPP */

.logoWhatsApp {
    width: 200px;
    height: 200px;
}


