*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.primera {
    display: flex;
    justify-content: space-around;
}

.segunda {
    display: flex;
    justify-content: space-around;
    background-color: rgb(17, 17, 17);
}

.segunda li {
    margin-left: 1rem;
    list-style-type: none;
    color: white;
}


.input1 {
    width: 80vw;
    height: 5rem;
    border-radius: 10px;
}

input[type=text] {
    font-size: 2rem;
    font-weight: bold;
}
